*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./img/wallpaper.jpg');
    background-repeat: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'open sans' , sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.painel{
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    max-width: 1100px

}

.container{
    background-color: white;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.linha{
    display: flex;
    align-items: center;
}

.Button{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    background-color: rgb(2, 0, 97);
}